.header__btn {
    position: relative;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.header__btn > div {
    position: absolute;
    height: 3px;
    width: 100%;
    background: #543310;
    transition: all 0.3s ease-in-out;
}

.header__btn > div:nth-child(1) {
    top: 4px;
}
.header__btn > div:nth-child(2) {
    top: 15px;
}
.header__btn > div:nth-child(3) {
    top: 26px;
}

.header__btn > div:nth-child(1).header__btn--active {
    top: 15px;
    transform: rotate(45deg);
}

.header__btn > div:nth-child(2).header__btn--active {
    display: none;
}

.header__btn > div:nth-child(3).header__btn--active {
    top: 15px;
    transform: rotate(-45deg);
}
