@import "../theme.scss";

#header {
    height: 60px;
    background-color: $background-color-dark;
    border-bottom: 3px solid $header-border-color;
    padding: 0px 5px;
    display: flex;
    justify-content: start;
    align-items: center;
}

#header .header__avatar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    overflow: hidden;
}

#header .header__avatar {
    width: 80%;
    height: 80%;
    max-width: 90%;
    max-height: 90%;
    border-radius: 50%;
    object-fit: cover;
}
