$color1: #f8f4e1;
$color2: #af8f6f;
$color3: #74512d;
$color4: #543310;

$color5: #f3d7d7;
$color6: #eea5a6;
$color7: #e493b3;
$color8: #b784b7;
$color9: #8e7ab5;

$background-color-light: $color1;
$background-color-dark: $color2;

$border-color: $color4;
$button-color: $color3;
$sidebar-active-button-color: $color4;

$header-border-color: $color4;
