.permissionOverlay-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
    pointer-events: none;
}

.permissionOverlay-text {
    color: Black;
    font-size: 24px;
    text-align: center;
    pointer-events: auto;
}
